/* .navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    }

    .logo {
        object-fit: cover;
        height: 3rem;
        width: 4rem ;
    }
    .destopMenuListItem {
        margin: 1rem;
        cursor: pointer;
    }
    .destopMenuListItem:hover {
        color: yellow;
        padding-bottom: 0.5rem;
        border-bottom: 3px solid yellow ;

    }
    .desktopMenuBtn {
        background-color: white;
        color: black;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        border-radius: 2rem;
    } */
/* navbar.css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 1rem;
}
ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.logo {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.contact-btn {
  border-radius: 20px;
  padding: 0.5rem;
  background-color: greenyellow;
  color: black;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}
.contact-btn:hover {
  background-color: black;
  color: white;
}
.nav-link {
  transition: 0.5s all ease-in-out;
  color: white;
}
.nav-link:hover {
  color: greenyellow;
}
